@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Open Sans;
}

a {
	text-decoration: none;
	color: inherit;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* CUSTOM */

#cover {
	height: 100vh;
	background-color: #eee;
	color: #222;

	h1 {
		font-size: 40vw;
	}
}

#blog-promo {
	background-color: #FFBF00;
	color: white;
	padding: 5vw;
	p {
		font-size: 32px;
	}
}

.i-am {
	background-color: #222;
	color: #eee;
	padding: 5vw;

	p {
		font-size: 28px;
	}
}

.i-am-2 {
	background-color: #eee;
	color: #222;
	padding: 5vw;

	p {
		font-size: 28px;
	}
}

#opportunities {
	flex-direction: column;
	padding: 5vw;

	h3 {
		font-size: 28px;
	}

	p {
		font-size: 20px;
	}

	li {
		display: inline;
		margin: 10px;
		margin-left: 10px;
		font-weight: bold;
		font-size: 22px;
	}

	* {
		margin-bottom: 20px;
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222;
	font-size: 22px;
	color: #eee;
	padding: 2vw;

	i {
		margin: 0 10px;
	}
}
